* {
	line-height: 1;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.light {
	font-weight: 400;
}

.bold {
	font-weight: 700;
}

p {
	line-height: 1.4em;
}